@{
    ViewBag.Title = "Who I Am";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Hi everyone! My name is Nicole Kuczek and I am from Cleveland, Ohio. I am a senior at Ohio University studying Management Information Systems and Business Analytics with a Sales Certificate. I decided to major in MIS and Business Analytics because of my passion for utilizing data to investigate and solve business problems, working in a people orientated environment, and continuous learning.
    <br />
    I have two older siblings, that are my role models. I have a 15-year-old Shih Tzu/Mini Poodle named Charlotte. In my spare time I enjoy hanging out with my friends, learning new recipes, and shopping at Marshalls or TjMaxx. Some other fun/interesting things about me is that my favorite snack is chips and salsa and my favorite movie is A Star is Born.
</p>