@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nicole Kuczek<br />
    98 North Congress, Athens 45701-1619<br />
    <abbr title="Phone">P:</abbr>
    440.263.2301
</address>

<address>
    <strong>OU Email:</strong>   <a href="mailto:nk882916@ohio.edu">Nicole Kuczek</a><br />
    <strong>Gmail Email:</strong> <a href="mailto:nicolekuczek21@gmail.com">Nicole Kuczek</a>
</address>